<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script type="text/JavaScript">
	function timedRefresh(timeoutPeriod) {
		setTimeout("location.reload(true);",timeoutPeriod);
	}

	window.onload = timedRefresh(500);
</script>
</head>
<body>
<table>
  <col style="width: 5%" />
  <col style="width: 35%"/>
  <col />
  <col />
  <col />
  <tr>
    <th> </th>
	<th> Команда </th>
	<th> Стоимость установки </th>
	<th> Выработанная энергия </th>
	<th> Полученная прибыль </th>
  </tr>
  {% for row in rows %}
   <tr {%if not row.visible%}style="color: black"{% endif %} {%if loop.first%}class="main"{% endif %}>
   <td {%if loop.first%}class="main left"{% endif %}> {{ row.id }} </td>
   <td {%if loop.first%}class="main"{% endif %}> {{ row.name }} </td>
   <td {%if loop.first%}class="main"{% endif %}> {{ row.cost }} руб </td>
    <td {%if loop.first%}class="main"{% endif %}> {{ row.power|round(2) }} мкВт&middot;ч </td>
    <td {%if loop.first%}class="main right"{% endif %}> {{ get_profit(row.power, row.cost)|round(2) }} руб </td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
